<!-- Footer -->
<div id="bottom" class="site-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6">
        <aside class="widget categories-widget">
          <h3 class="widget-title">Categories</h3>
          <ul>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Knowledge Base</a></li>
            <li><a href="#">Community Forum</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Privacy & Policy</a></li>
          </ul>
        </aside>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-6">
        <aside class="widget widget_recent_entries">
          <h3 class="widget-title">Recent articles</h3>
          <ul>
            <li><a href="#">How Do I Get An API Key?</a></li>
            <li><a href="#">What Are The API Limits?</a></li>
            <li><a href="#">Where do I find my secret token?</a></li>
            <li><a href="#">Knowledgebase page setup</a></li>
            <li><a href="#">How do I create a child theme?</a></li>
          </ul>
        </aside>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-6">
        <aside class="widget widget_recent_entries">
          <h3 class="widget-title">Popular articles</h3>
          <ul>
            <li><a href="#">Do you offer customization services?</a></li>
            <li><a href="#">Creating new sidebar position</a></li>
            <li><a href="#">Is the the demo data available?</a></li>
            <li><a href="#">As a member, what do I get?</a></li>
            <li><a href="#">Do Download Links Expire</a></li>
          </ul>
        </aside>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-6">
        <aside class="widget newsletter_widget">
          <h3 class="widget-title">Get newsletter</h3>
          <p>Subscribe to our newsletter to receive news, updates, free stuff and new releases by email. </p>
          <form action="#" method="post">
            <input type="email" name="email" placeholder="Enter your email" required>
            <input type="submit" value="Go">
          </form>
        </aside>
      </div>
    </div>
  </div><!-- .container -->
</div><!-- .site-bottom -->

<footer id="footer" class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-9">
        <div class="copyright">Copyright © 2020 sublimeCAD.com - All rights reserved.</div>
      </div>

      <div class="col-md-4 col-sm-3">
        <a class="back-to-top" href="#">Back to top</a>
      </div>
    </div>
  </div><!-- .container -->
</footer><!-- site-footer -->
</div><!-- #wrapper -->
