<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="/img/assets/favicon.png" />
  <title>sublimeCAD</title>

  <!-- Style CSS -->
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/responsive.css" />

  <!-- jQuery -->
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/libs/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/libs/sticky/jquery.sticky.js"></script>
  <script type="text/javascript" src="/libs/owl.carousel/owl.carousel.min.js"></script>
  <script type="text/javascript" src="/libs/waypoints/waypoints.min.js"></script>
  <script type="text/javascript" src="/libs/counterup/jquery.counterup.min.js"></script>
  <!-- orther script -->
  <script type="text/javascript" src="/js/main.js"></script>
</head>
