<header id="header" class="site-header">
  <div class="container clearfix">
    <div class="site-brand">
      <a class="logo" href="/"><img src="/img/sublimecad_logo.png" alt="sublimeCAD"></a>
    </div><!-- .site-brand -->

    <% if(!loggedIn) { %>
    <a class="button primary-button login-button" href="/auth/login">Login</a>
    <% } %>

    <nav class="main-menu">
      <span class="mobile-btn"><i class="ti ti-menu"></i></span>
      <ul>
        <li class="nav-link"><a href="/">Home</a></li>
        <li><a class="nav-link" href="/blog">Blog</a></li>
        <li><a class="nav-link" href="/about">About</a></li>
        <li><a href="#">Profile</a>
          <ul class="sub-menu">

            <% if(!loggedIn) { %>
            <li><a class="nav-link" href="/auth/login">Login</a></li>
            <li><a class="nav-link" href="/auth/register">Register</a></li>
            <% } %>
            <% if(loggedIn) { %>
            <li><a class="nav-link" href="/posts/new">New Post</a></li>
            <li><a class="nav-link" href="/auth/logout">Log out</a></li>
            <% } %>

          </ul>
        </li>
      </ul>
    </nav><!-- .main-menu -->
  </div><!-- .container -->
</header><!-- .site-header -->
