<!DOCTYPE html>
<html lang="en">
<!-- Header -->
<%- include('layouts/header'); -%>

<body class="home">
  <div id="wrapper">

    <!-- Loader -->
    <%- include('layouts/loader'); -%>

    <!-- Navigation -->
    <%- include('layouts/navbar'); -%>

    <main id="main" class="site-main">
      <section class="page-title" style="background-image: url(/img/model01.png);">
        <div class="overlay"></div>
        <div class="container">
          <h1>About sublimeCAD</h1>
          <!-- <ul class="breadcrumbs">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="current">Blog List</li>
          </ul> -->
        </div><!-- .container -->
      </section><!-- .page-title -->

      <section class="who-we-are section">
        <div class="container">
          <h2 class="section-title">Who we <span>are</span>?</h2>
          <p class="section-desc">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>

          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="intro-box">
                <h3 class="intro-title"><a href="#">Good company</a></h3>
                <div class="intro-desc">Vestibulum dapibus ac ex sit amet accumsan. Suspendisse blandit, nunc nec finibus finibus, mauris dui volutpat ex, quis ultricies lorem erat ac diam. Aliquam eget est at tellus tempor iaculis sit amet vel
                  enim. </div>
                <a class="read-more" href="#">View Our Services</a>
              </div><!-- .intro-box -->
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="intro-box">
                <h3 class="intro-title"><a href="#">AWESOME TEAM</a></h3>
                <div class="intro-desc">Aliquam sagittis, turpis ac pulvinar lobortis, lorem sem lobortis elit, sollicitudin rutrum urna libero ac est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                  egestas. </div>
                <a class="read-more" href="#">Meet Our Team</a>
              </div><!-- .intro-box -->
            </div>
          </div><!-- .row -->
        </div><!-- .container -->
      </section><!-- .who-we-are -->

    </main><!-- .site-main -->

    <%- include('layouts/footer'); -%>
  </div>
</body>

</html>
