<!DOCTYPE html>
<html lang="en">
<!-- Header -->
<%- include('layouts/header'); -%>

<body class="home">
  <div id="wrapper">

    <!-- Loader -->
    <%- include('layouts/loader'); -%>

    <!-- Navigation -->
    <%- include('layouts/navbar'); -%>

    <main id="main" class="site-main">
      <section class="page-title" style="background-image: url(/img/blog_page_01.jpg);">
        <div class="overlay"></div>
        <div class="container">
          <h1>Page not found</h1>
          <!-- <ul class="breadcrumbs">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="current">Blog List</li>
          </ul> -->
        </div><!-- .container -->
      </section><!-- .page-title -->

      <div class="container">
        <!-- <h2 class="error-heading">Page not found</h2> -->
        <div class="error-content">
          <h3>ohh no! page not found :(</h3>
          <div class="error-desc">It seems we can’t find what you’re looking for. Perhaps searching can help or go back to <a href="/">Homepage.</a></div>
        </div>
        <form action="#" method="post" class="error-search-form">
          <input type="search" placeholder="Search again...">
          <button type="submit"><i class="ti ti-search"></i></button>
        </form>
      </div><!-- .container -->
      <hr>
  </div>
  </div><!-- .container -->
  </main><!-- .site-main -->

  <%- include('layouts/footer'); -%>
  </div>
</body>

</html>
